@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --primary-color: #48583b;
  --dark-color: #222222;
  --light-color: #f0f0f0;
}

html {
  height: 100%;
  background: rgb(72, 19, 12);
  background: linear-gradient(
    151deg,
    rgba(72, 19, 12, 1) 0%,
    rgba(210, 62, 54, 1) 50%,
    rgba(72, 19, 12, 1) 100%
  );
}

* > * {
  font-family: 'Poppins', sans-serif;
}

.container {
  position: relative;
  margin: 40px auto;
  height: auto;
  width: 800px;
  padding: 20px;
  .title {
    font-size: 2em;
    text-align: center;
    border: 5px solid var(--primary-color);
    padding: 0.3em 0.2em;
    border-radius: 4px;
  }
  .text-light {
    color: var(--light-color);
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
  }
  .questions {
    padding: 1em;
  }
  .grid {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .btn {
    padding: 0.2em 1.7em;
    border: none;
    border-radius: 0.1em;
    font-size: 1.2em;
    &:hover {
      cursor: pointer;
      background-color: #c8ad6e;
      color: #48583b;
    }
  }
}

.next {
  background-color: var(--primary-color);
  color: #c8ad6e;
  justify-self: flex-end;
}

.prev {
  background-color: var(--primary-color);
  color: #c8ad6e;
  justify-self: flex-start;
}

ul li {
  color: #ffffff;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #ffffff;
  &:hover {
    .checked {
      border: 5px solid #ffffff;
    }
  }
  input[type='radio'] {
    position: absolute;
    visibility: hidden;
  }
  label {
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 25px 25px 25px 80px;
    margin: 10px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
  }
  .check {
    display: block;
    position: absolute;
    border: 5px solid #ffffff;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 30px;
    left: 20px;
    z-index: 5;
    transition: border 0.25s linear;
    -webkit-transition: border 0.25s linear;
    &::before {
      display: block;
      position: absolute;
      content: '';
      border-radius: 100%;
      height: 15px;
      width: 15px;
      top: 5px;
      left: 5px;
      margin: auto;
      transition: background 0.25s linear;
      -webkit-transition: background 0.25s linear;
    }
  }
}

input[type='radio']:checked ~ .check {
  border: 5px solid var(--primary-color);
}

input[type='radio']:checked ~ .check::before {
  background: var(--primary-color);
}

input[type='radio']:checked ~ .text-primary {
  color: #c8ad6e;
}

.checked {
  border: 5px solid var(--primary-color) !important;
}

.checked::before {
  background: var(--primary-color);
}
