.info {
  color: #ffffff;
}

.container ol li {
  font-size: 1.4em;
  color: #ffffff;
}

.start {
  display: flex;
  justify-content: center;
  padding-top: 2em;
  .btn {
    padding: 0.2em 1.7em;
    border: none;
    border-radius: 0.1em;
    font-size: 1.2em;
    color: #c8ad6e;
    text-decoration: none;
    background-color: #48583b;
  }
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 4em;
  .userId {
    padding: 0.7em 2em;
    width: 50%;
    border: none;
    border-radius: 3px;
    font-size: 1em;
  }
}
